<html>
    <head>
        <title>Pacotes de viagem - Inicio</title>
        <link rel="stylesheet" href="static/css/create.css">
        <link rel="stylesheet" href="static/css/comum.css">
    </head>
    <body>
        <header>
            <div id="header-content">
                <div id="logo">
                    <a href="/">
                        <img src="static/img/logo.png" alt="Logo Empresa">
                    </a>
                </div>
                <div>
                    <nav>
                        <ul>
                            <li><a href="/create">Criar</a></li>
                            <li><a href="/list">Listar</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <main>
            <h1>Cadatro de viagens</h1>
            <form action="/save" method="post">
                <div class="form-item">
                    <label for="nome">Nome:</label>
                    <input type="text" name="nome" id="nome">
                </div>
                <div class="form-item">
                    <label for="desc">Descrição:</label>
                    <input type="text" name="desc" id="desc">
                </div>
                <div class="form-item">
                    <label for="destino">Destino:</label>
                    <input type="text" name="destino" id="destino">
                </div>
                <input type="submit" value="salvar">
            </form>
        </main>
        <footer>
            <p>Todos os direitos reservados AIRBNB 2023</p>
        </footer>
    </body>
</html>