<html>
    <head>
        <title>Pacotes de viagem - Inicio</title>
        <link rel="stylesheet" href="static/css/comum.css">
        <link rel="stylesheet" href="static/css/index.css">
    </head>
    <body>
        <header>
            <div id="header-content">
                <div id="logo">
                    <a href="/">
                        <img src="static/img/logo.png" alt="Logo Empresa">
                    </a>
                </div>
                <div>
                    <nav>
                        <ul>
                            <li><a href="/create">Criar</a></li>
                            <li><a href="/list">Listar</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <main>
            <h1>Bem-vindo ao sistema de viagens do Air BNB</h1>
        </main>
        <footer>
            <p>Todos os direitos reservados AIRBNB 2023</p>
        </footer>
    </body>
</html>