<html>
    <head>
        <title>Bisnacha - Listagem</title>
        <link rel="stylesheet" href="static/css/read.css">
    </head>
    <body>
        <header>

        </header>
        <main>
            <h1>Listagem de produtos</h1>

            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Descricao</th>
                        <th>Valor</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in lista %}
                    <tr>
                        <td>{{ p["nome"] }}</td>
                        <td>{{ p["descricao"] }}</td>
                        <td>{{ p["valor"] }}</td>
                        <td><a class="editar" href="">Editar</a> | <a class="deletar" href="">Deletar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="/create">Criar novo produto</a>
        </main>
        <footer>


        </footer>
    </body>
</html>