<html>
    <head>
        <title>Bisnacha - Listagem</title>
        <link rel="stylesheet" href="static/css/read.css">
    </head>
    <body>
        <header>

        </header>
        <main>
            <h1>Listagem de produtos</h1>

            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Descricao</th>
                        <th>Valor</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Maria</td>
                        <td>É boa</td>
                        <td>R$ 2,99</td>
                        <td><a class="editar" href="">Editar</a> | <a class="deletar" href="">Deletar</a></td>
                    </tr>
                    <tr>
                        <td>Trakinas</td>
                        <td>É muito boa</td>
                        <td>R$ 5,99</td>
                        <td><a class="editar" href="">Editar</a> | <a class="deletar" href="">Deletar</a></td>
                    </tr>
                </tbody>
            </table>

        </main>
        <footer>


        </footer>
    </body>
</html>