/* 
pelo nome da tag
pela classe (.)
pelo id (#)
*/


body{
    background: #000000;
    color:#fff;
}
header{
    display: flex;
    justify-content: space-between;
}
body header #logo img{
    width: 180px;
}
#logo{
    width: 30%;
}
#menu{
    width: 50%;
    display: flex;
    justify-content: end;
}
#menu ul{
    list-style: none;
    display: flex;
}
#menu ul li{
    width: 150px;
    margin: 10px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}
#menu ul li:hover{
    border: 1px solid #f00;
    cursor: pointer;
}

body main h1{
    text-align: center;
}

main{
    border: 1px solid #f00;
    width: 90%;
    margin: auto;
    padding: 50px 20px;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background:#d7d7d7;
    color:#000;
    height: 150px;
    text-align: center;
    padding: 20px;
}